<h1>Add Address</h1>
<%= form_for [current_user,current_user.addresses.build]  do |form|%>

   <ul>
        <li>    
                <%= form.label :address_line_1 %><br>
                <%= form.text_field :address_line_1 %>
        </li>
        <li>    
                <%= form.label :address_line_2 %><br>
                <%= form.text_field :address_line_2 %>
        </li>
        <li>    
                <%= form.label :house_number %><br>
                <%= form.text_field :house_room_number %>
        </li>
        <li>    
                <%= form.label :landmark %><br>
                <%= form.text_field :landmark %>
        </li>
        <li>    
                <%= form.label :pin_code %><br>
                <%= form.text_field :pin_code %>
        </li>

        <li>    
                <%= form.label :city %><br>
                <%= form.select :city_id ,@cities%>
        </li>

   </ul>

    <%= form.submit "submit"%>

    <%end%>
